langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
langgraph
pydantic-settings
fastapi
uvicorn
ddgs
wikipedia
numexpr
geopy
#langgraph.prebuilt.tools_condition
streamlit
#urllib
langchain_community
dotenv
langchain_text_splitters
langchain-experimental
langchain-huggingface
qdrant-client
langchain-qdrant
langchain-classic
langchain-faiss
youtube-transcript-api
deep-translator
langchain-tavily 